* {
    background-color: yellow;
}

.SignUp {
    color: white;
}

#userid_input {
    background-color: white;
    color: black;
    font-size: medium;
}

#userpw_input {
    background-color: blue;
    color: cornsilk;
}

button {
    background-color: darkgreen;
    color: whitesmoke;
    width: 100px;
    height: 50px;
}

#userpw_q {
    color: black;
    width: 70px;
    height: 50px;
}

textarea {
    color: white;
    background-color: black;
    size: 12px;
}